![title](image/python3.png)

# Introduction to python3

## Python Features
### 1-Easy-to-learn
### 2-Easy-to-read
### 3-Easy-to-maintain
### 4-A broad standard library − Python's bulk of the library is very portable 
### 5-and cross-platform compatible on UNIX, Windows, and Macintosh.
### 6-Portable − Python can run on a wide variety of hardware platforms and has the same interface on all platforms.

# python vs nodejs
Math.pow(2,1000)

2**1000

# Variable Types

In [4]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string
print ('counter->',counter)
print ('miles-->',miles)
print ('name-->',name)
print(type(name))

counter-> 100
miles--> 1000.0
name--> John
<class 'str'>

# Multiple Assignment

In [6]:
a=b=c=1
print(a)

c=d=e='reza',19.5,18
print(c[1])

1
19.5

# Standard Data Types
## Python has five standard data types −

### 1-Numbers

### 2-String

### 3-List

### 4-Tuple

### 5-Dictionary

# Python Numbers

In [23]:
a = 25
c=2564899756565

print('--------numbers---------->',c)
print(type(c))

--------numbers----------> 2564899756565
<class 'int'>

# Python Strings

In [24]:
str = "Hello World!" #or '2564899756565'
print('-----------strings------------->',str)
print(type(str))

-----------strings-------------> Hello World!
<class 'str'>

In [8]:
#Python Strings
str = 'Hello World!'
print(str[2])       # Prints first character of the string
print (str[2:7])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character

l
llo W
llo World!

# Python Lists

In [14]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print('-----------------------------')
print (list)
print('-----------------------------')
list[0]=2
print('------------>>',list)
print(list[2])
print('-----------------------------')
print(list[1:3])
print('-----------------------------')
print (tinylist * 3)  # Prints list two times

-----------------------------
['abcd', 786, 2.23, 'john', 70.2]
-----------------------------
------------>> [2, 786, 2.23, 'john', 70.2]
2.23
-----------------------------
[786, 2.23]
-----------------------------
[123, 'john', 123, 'john', 123, 'john']

![title](image/array.png)

# Python Tuples

In [13]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
print(tuple)
print(tuple)
print(tuple[0])
print (tuple[1:4])

('abcd', 786, 2.23, 'john', 70.2)
('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23, 'john')

# Python Dictionary

In [15]:
dict = {}
dict['one'] = "This is one"
dict[2]= "This is two"
print('dict--------->',dict)

dict---------> {'one': 'This is one', 2: 'This is two'}

![title](image/dict.png)

In [17]:
test ={"name":["a",b],"lname":"bojnordi","country":"iran"}
print("---------------------------------------------------")
print("test------->",test)
print("---------------------------------------------------")
print (test.keys())   # Prints all the keys
print("---------------------------------------------------")
print (test.values()) # Prints all the values

---------------------------------------------------
test-------> {'name': ['a', 1], 'lname': 'bojnordi', 'country': 'iran'}
---------------------------------------------------
dict_keys(['name', 'lname', 'country'])
---------------------------------------------------
dict_values([['a', 1], 'bojnordi', 'iran'])

![title](image/Names.png)

In [20]:
# documentation
dataset =[{
    "name":"reza",
    "lname":"bojnordi",
    "age":27,
    "job":"web developer"
},
    {
    "name":"mahmmod",
    "lname":"mahmodi",
    "age":27,
    "job":"web developer" 
    },
    {
    "name":"hashem",
    "lname":"jahangiri",
    "age":30,
    "job":"android developer" 
    }
]
print('--------------------------------------------')
print('***********>',dataset[0])
print('dataset:',dataset[1]["lname"])
print('--------------------------------------------')
print('dataset:',dataset)

--------------------------------------------
***********> {'name': 'reza', 'lname': 'bojnordi', 'age': 27, 'job': 'web developer'}
dataset: mahmodi
--------------------------------------------
dataset: [{'name': 'reza', 'lname': 'bojnordi', 'age': 27, 'job': 'web developer'}, {'name': 'mahmmod', 'lname': 'mahmodi', 'age': 27, 'job': 'web developer'}, {'name': 'hashem', 'lname': 'jahangiri', 'age': 30, 'job': 'android developer'}]

# Data Type Conversion

In [22]:
phone = "963258"
print("phone",type(phone))
print("type",type(phone))
print("phone------>",int(phone))
print("type",type(int(phone)))

phone <class 'str'>
type <class 'str'>
phone------> 963258
type <class 'int'>

# Decision Making

In [ ]:
age = input("لطفا سن خود را وارد کنید:")

if(int(age) > 20):
    print("-----1>",int(age) +2)
elif(int(age) < 20):
    print(int(age) -2)
else:
    print("noting")

# while Loop Statements

In [ ]:
counte =0
while(counte < 9):
    print ('The count is:', counte)
    counte= counte + 1
print("Good Bye")

# Loops

In [4]:

list = [2,5,10,25]
for i in list:
    print('list:',i)
print("------------------------------------------------")

list: 2
list: 5
list: 10
list: 25
------------------------------------------------

# Nested loops

In [47]:
for i in range(1,11):
    for j in range(1,11):
        k = i * j
        print (k, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# mean

In [3]:
list = [2,4,6,8]
a =0
for i in list:
    a = a + i
print("mean:",a / len(list))

mean: 5.0

# Lists

In [5]:
list = ['physics', 'chemistry', 1997, 2000]
print ("Value available at index 2 : ", list[2])
list[2] = 2001
print ("New value available at index 2 : ", list[2])

Value available at index 2 :  1997
New value available at index 2 :  2001

![title](image/memory.png)

# Basic List Operations

In [8]:
list = ['physics', 'chemistry', 1997, 2000]
print("Length:",len(list))

print("concat:",[2,5,8,4]+[87,45,6])

print("Membership:", 3 in [3,5,9,58,45])

print("max:",max([55,12,4,69,4,12,1,50,80,4]))

print("min:",min([55,12,4,69,4,12,1,50,80,4]))

Length: 4
concat: [2, 5, 8, 4, 87, 45, 6]
Membership: True
max: 80
min: 1

# append

In [9]:
list1 = ['python','ruby','node','c++']
list1.append(2)
print('list1:',list1)
print('pop list:',list1.pop(0))
print('pop list--->:',list1)

list1: ['python', 'ruby', 'node', 'c++', 2]
pop list: python
pop list--->: ['ruby', 'node', 'c++', 2]

# sort

In [2]:
list2 = [50,6,25,45,7,78,23,5]
list3 = [50,6,25,45,7,78,23,5]
list2.sort()
list2.sort(reverse=True)
print(list2)

[78, 50, 45, 25, 23, 7, 6, 5]

# Dictionary

In [22]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

# Error Keys

In [28]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'};
print ("dict['Alice']: ", dict['Age'])

dict['Alice']:  7

# Updating Dictionary

In [26]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict)
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School" # Add new entry
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])
print('---------------------------->',dict)
print(dict.keys())
print(dict.values())

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age']:  8
dict['School']:  DPS School
----------------------------> {'Name': 'Zara', 'Age': 8, 'Class': 'First', 'School': 'DPS School'}
dict_keys(['Name', 'Age', 'Class', 'School'])
dict_values(['Zara', 8, 'First', 'DPS School'])

# len

In [29]:
dict = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
print ("Length : %d" % len (dict))

Length : 3

# dictionary copy()

In [30]:
dict1 = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
dict2 = dict1.copy()
print ("New Dictionary : ",dict2)

New Dictionary :  {'Name': 'Manni', 'Age': 7, 'Class': 'First'}

# Functions

In [31]:
# Function definition is here
def printme(str):
   "This prints a passed string into this function"
   print ('------>',str)
   

# Now you can call printme function
printme("This is first call to the user defined function!")
printme("Again second call to the same function")

------> This is first call to the user defined function!
------> Again second call to the same function

In [35]:
def Multiplication (x,b):
    return x * b



print(Multiplication(6,70))

420

# random in numpy

In [71]:
import numpy as np



print("Normal distribution",np.random.randn(1,10))
print('-------------------------------------------------------------------')
print("Uniform distribution",np.random.uniform(0 ,1 , 10))

Normal distribution [[ 1.36734746 -0.35646073 -0.95563215  0.79098202 -0.71769878  0.33678322
   0.80172292 -1.30698109 -1.29461837 -1.17645716]]
-------------------------------------------------------------------
Uniform distribution [0.85099348 0.61521566 0.96644956 0.79298571 0.62244336 0.274458
 0.41032648 0.51171366 0.37059723 0.02674808]

In [45]:
import numpy as np
estimated_action_value = np.zeros(10)
print(estimated_action_value)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

# numpy.matmul

In [46]:
a = [[2, 0], 
     [5, 1]
    ]

b = [
    [4, 1],
    [2, 2]
]

print(np.matmul(a, b))

[[ 8  2]
 [22  7]]

# source:https://www.tutorialspoint.com/python3/