![title](image/python3.png)

# Introduction to python3

## Python Features
### 1-Easy-to-learn
### 2-Easy-to-read
### 3-Easy-to-maintain
### 4-A broad standard library − Python's bulk of the library is very portable 
### 5-and cross-platform compatible on UNIX, Windows, and Macintosh.
### 6-Portable − Python can run on a wide variety of hardware platforms and has the same interface on all platforms.

# python vs nodejs
Math.pow(2,1000)

2**1000

# Variable Types

In [12]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string
print ('counter->',counter)
print ('miles-->',miles)
print ('name-->',name)
print(type(name))

counter-> 100
miles--> 1000.0
name--> John
<class 'float'>

# Multiple Assignment

In [22]:
a=b=c=1
print(a)

c=d=e='reza',19.5,18
print(c[0])

1
reza

# Standard Data Types
## Python has five standard data types −

### 1-Numbers

### 2-String

### 3-List

### 4-Tuple

### 5-Dictionary

# Python Numbers

In [23]:
a = 25
c=2564899756565

print('--------numbers---------->',c)
print(type(c))

--------numbers----------> 2564899756565
<class 'int'>

# Python Strings

In [24]:
str = 'Hello World!' #or '2564899756565'
print('-----------strings------------->',str)
print(type(str))

-----------strings-------------> Hello World!
<class 'str'>

In [25]:
#Python Strings
str = 'Hello World!'
print(str[0])       # Prints first character of the string
print (str[2:7])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character

H
llo W
llo World!

# Python Lists

In [30]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']
print('-----------------------------')
print (list)
print('-----------------------------')
print(list[2])
print('-----------------------------')
print(list[1:3])
print('-----------------------------')
print (tinylist * 2)  # Prints list two times

-----------------------------
['abcd', 786, 2.23, 'john', 70.2]
-----------------------------
2.23
-----------------------------
[786, 2.23]
[2, 786, 2.23, 'john', 70.2]
-----------------------------
[123, 'john', 123, 'john']

![title](image/array.png)

# Python Tuples

In [32]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
print(tuple)
print(tuple[0])
print (tuple[1:4])

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23, 'john')

# Python Dictionary

In [ ]:

dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"
print('dict--------->',dict)

![title](image/dict.png)

In [35]:
test ={"name":"reza","lname":"bojnordi","country":123456789}
print("---------------------------------------------------")
print("test------->",test)
print("---------------------------------------------------")
print (test.keys())   # Prints all the keys
print("---------------------------------------------------")
print (test.values()) # Prints all the values

---------------------------------------------------
test-------> {'name': 'reza', 'lname': 'bojnordi', 'country': 123456789}
---------------------------------------------------
dict_keys(['name', 'lname', 'country'])
---------------------------------------------------
dict_values(['reza', 'bojnordi', 123456789])

![title](image/Names.png)

In [43]:
# documentation
dataset =[{
    "name":"reza",
    "lname":"bojnordi",
    "age":27,
    "job":"web developer"
},
    {
    "name":"mahmmod",
    "lname":"mahmodi",
    "age":27,
    "job":"web developer" 
    },
    {
    "name":"hashem",
    "lname":"jahangiri",
    "age":30,
    "job":"android developer" 
    }
]
print('--------------------------------------------')
print('dataset:',dataset[0]["name"])
print('--------------------------------------------')
print('dataset:',dataset)

--------------------------------------------
dataset: reza
--------------------------------------------
dataset: [{'name': 'reza', 'lname': 'bojnordi', 'age': 27, 'job': 'web developer'}, {'name': 'mahmmod', 'lname': 'mahmodi', 'age': 27, 'job': 'web developer'}, {'name': 'hashem', 'lname': 'jahangiri', 'age': 30, 'job': 'android developer'}]

# Data Type Conversion

In [ ]:
phone = "963258"
print("phone",phone)
print("type",type(phone))
print("phone------>",int(phone))
print("type",type(int(phone)))

# Decision Making

In [ ]:
age = input("لطفا سن خود را وارد کنید:")

if(int(age) > 20):
    print("-----1>",int(age) +2)
elif("----2>",int(age) < 20):
    print(int(age) -2)
else:
    print("noting")

# while Loop Statements

In [44]:
counte =0
while(counte < 9):
    print ('The count is:', counte)
    counte= counte + 1
print("Good Bye")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good Bye

# Loops

In [46]:

list = [2,5,10,25]
for i in list:
    print('list:',i)
print("------------------------------------------------")
for i in range(10):
    print(i)

list: 2
list: 5
list: 10
list: 25
------------------------------------------------
0
3
6
9

# Nested loops

In [47]:
for i in range(1,11):
    for j in range(1,11):
        k = i * j
        print (k, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# mean

In [3]:
list = [2,4,6,8]
a =0
for i in list:
    a = a + i
print("mean:",a / len(list))

mean: 5.0

# Lists

In [ ]:
list = ['physics', 'chemistry', 1997, 2000]
print ("Value available at index 2 : ", list[2])
list[2] = 2001
print ("New value available at index 2 : ", list[2])

![title](image/memory.png)

# Basic List Operations

In [48]:
list = ['physics', 'chemistry', 1997, 2000]
print("Length:",len(list))
print("concat:",[2,5,8,4]+[87,45,6])
print("Membership:", 3 in [3,5,9,58,45])
print("max:",max([55,12,4,69,4,12,1,50,80,4]))

Length: 4
concat: [2, 5, 8, 4, 87, 45, 6]
Membership: True
max: 80

# append

In [ ]:
list1 = ['python','ruby','node','c++']
list1.append(2)
print('list1:',list1)
print('pop list:',list1.pop(0))
print('pop list--->:',list1)

# sort

In [ ]:
list2 = [50,6,25,45,7,78,23,5]
list2.sort()
print(list2)

# Dictionary

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

# Error Keys

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'};
print ("dict['Alice']: ", dict['Alice'])

# Updating Dictionary

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict)
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School" # Add new entry
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])
print(dict)
print(dict.keys())
print(dict.values())

# len

In [49]:
dict = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
print ("Length : %d" % len (dict))

Length : 3

# dictionary copy()

In [50]:
dict1 = {'Name': 'Manni', 'Age': 7, 'Class': 'First'}
dict2 = dict1.copy()
print ("New Dictionary : ",dict2)

New Dictionary :  {'Name': 'Manni', 'Age': 7, 'Class': 'First'}

# Functions

In [ ]:
# Function definition is here
def printme( str ):
   "This prints a passed string into this function"
   print ('------>',str)
   

# Now you can call printme function
printme("This is first call to the user defined function!")
printme("Again second call to the same function")

In [ ]:
def Multiplication (a,b):
    return a * b
print(Multiplication(6,6))

# random in numpy

In [63]:
import numpy as np

print("Normal distribution",np.random.randn(1,10))
print('------------------------------------------------')
print("Uniform distribution",np.random.uniform(0 ,1 , 10))

Normal distribution [[ 1.57380746  0.53820084 -0.18842233 -0.95851957 -0.50866223  2.08485256
   0.38125267  0.59349944  0.47448815 -0.57766522]]
------------------------------------------------
Uniform distribution [0.57041183 0.00143156 0.99761219 0.41132142 0.72632127 0.12056876
 0.98560072 0.83439991 0.93103331 0.53054606]

In [6]:
import numpy as np
estimated_action_value = np.zeros(10)
print(estimated_action_value)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

# numpy.matmul

In [18]:
a = [[2, 0], 
     [5, 1]
    ]

b = [
    [4, 1],
    [2, 2]
]

print(np.matmul(a, b))

[[ 8  2]
 [22  7]]

# source:https://www.tutorialspoint.com/python3/